:root{
    --dark-green: #1A535C;
    --turquoise: #8AFCF6;
    --red: #FF6B6B;
    --yellow: #FFE66D;
    --light: #EBEBEC;
    --lighter: #F1F2F2;
    --lightest: #FFF9F9;
    --blue: #5D6772;
    --dark-blue: #4D555E;
    --egyptian-blue: #0E34A0;
    --pink: #FF83C8;
    --light-blue: #A0DDFF;
    --lightest-blue: #C7E5F1;
    --violet: #CAAEFF;
    --violet-darker: #AA83FF;
    --electric-blue: #62EDF0;
    --ocean-green: #43C59E;
    --maximum-blue: #39A9DB;
    --magic-mint: #ACFCD9;
}


body {
    background: #F1F2F2;
}

p.serif {
    font-family: 'Covered By Your Grace', sans-serif;
}

a {
    
}

h1 {
    font-family: 'Covered By Your Grace', sans-serif;
    font-size: 3em;
}

h2 {
    font-family: 'Covered By Your Grace', sans-serif;
    font-size: 2.2em;
}

h3 {
    font-family: 'Covered By Your Grace', sans-serif;
}

h4 {
    font-family: 'Covered By Your Grace', sans-serif;
}

header {
    background: transparent;
}

#canvas {
    display: block;
}

#header-wrapper {
    background: #fff;
    border-bottom: 2px solid #F1F2F2;
}

.header-signature-image {
    display: none;
}

.header-signature-image.dark {
    display: block;
}

.menu-item {
    background: #353535;
    border-radius: 20px;
    height: 7px;
    width: 7px;
    margin: 4px;
}

.menu-item-content {
    opacity: 0;
    transition: 0ms;
    line-height: 36px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.menu-item-content a {
    color: #fff;
    text-decoration: none;
}

#main-menu.menu-open .menu-item {
    height: 36px;
    width: 200px;
    pointer-events: auto;
    background: #353535;
    margin-bottom: 5px;
}

#main-menu.menu-open .menu-item:hover {
    background: #FF83C8;
}

#main-menu.menu-open .menu-item-content {
    opacity: 1;
    transition: 200ms ease;
    transition-delay: 200ms;
}

#item-three {
    display: none;
}

#item-four {
    opacity: 1;
    display: block;
    font-family: 'Roboto Slab', serif;
}

#main-menu.menu-open #item-four:hover {
    background: #B7B8BA;
    color: #F1F2F2;
}

#main-menu.menu-x #item-four {
    opacity: 0;
}

#chat-wrapper {
    background: #fff;
}

.chat-bubble-left {
    padding: 8px 14px;
    border-radius: 18px;
    border-top-left-radius: 0;
    background: linear-gradient(to bottom right, #62EDF0, #C7E5F1);
    margin-left: 10px;
}

.chat-bubble-left::before {
    display: none;
}

.chat-bubble-right {
    padding: 8px 14px;
    margin: 10px 10px 10px 0;
    border-radius: 18px;
    border-top-right-radius: 0;
    background:  #FF83C8;
    color: #ffffff; 
}

.chat-bubble-right::before {
    display: none;
}

.typing-indicator-one, .typing-indicator-two, .typing-indicator-three {
    width: 6px;
    height: 6px;
    float: left;
    margin-top: 7px;
    background: #5D6772;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: busy 1.5s infinite; /* Safari 4.0 - 8.0 */
    animation: busy 1.5s infinite;
    -webkit-animation-timing-function: ease-in-out; /* Safari 4.0 - 8.0 */
    animation-timing-function: ease-in-out;
}

.typing-indicator-one {

}

.typing-indicator-two {
    -webkit-animation-delay: 0.2s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.2s;
    margin-left: 3px;
    margin-right: 3px;
}

.typing-indicator-three {   
    -webkit-animation-delay: 0.4s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.4s;
}

@-webkit-keyframes busy {
    0% {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes busy {
    0% {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}

#chat-options-wrapper {
    border-top: 2px solid #f4f4f4;
    background: #ffffff;
}

.chat-option, .read-more-button {
    background: #B194FF;
    color: #ffffff;
    padding: 8px 14px;
    border-radius: 18px;
    min-height: 36px;
    box-shadow: none;
}

.read-more-button {
    text-decoration: none;
    transition: 300ms ease;
}

.chat-option:hover, .read-more-button:hover {
    background: #FF83C8;
    box-shadow: none;
}

.chat-option.chat-input {
    background: #DEE5E5;
    flex-direction: row;
    align-items: center;
    padding: 3px 3px 3px 14px;
}

.chat-input input[type=text] {
    background: transparent;
    border: 0;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: 0;
}

.chat-input input[type=text]:focus {
}

#submit-name {
    cursor: pointer;
    background: #B194FF;
    color: #ffffff;
    padding: 6px 14px;
    border-radius: 16px;
    margin-left: 6px;
    line-height: 15px;
    height: 30px;
}

#submit-name:hover {
    background: #FF83C8;   
}

#mood-option-serious.chat-option.show-option {
    display: none;
}

#mood-option-serious-two.chat-option.show-option {
    display: block;
}

#mood-option-playful.chat-option.show-option {
    display: none;
}

#mood-option-playful-two.chat-option.show-option {
    display: block;
}

.chat-large-link {
    text-decoration: none;
    font-family: 'Covered By Your Grace', sans-serif;
    font-size: 22px;
    -moz-box-shadow: inset 0 -4px 0 #FFE66D;
    -webkit-box-shadow: inset 0 -4px 0 #FFE66D;
    box-shadow: inset 0 -4px 0 #FFE66D;
}

.chat-large-link:hover {
    -moz-box-shadow: inset 0 -34px 0 #FFE66D;
    -webkit-box-shadow: inset 0 -34px 0 #FFE66D;
    box-shadow: inset 0 -34px 0 #FFE66D;
}

#chat-background {
    background: #ffffff;
    box-shadow: 0 0 80px -10px rgba(0,0,0,0.2);
}

.me-image {
    border-radius: 9px;
}

/* --- PORTFOLIO --- */

#portfolio-wrapper {
    background: #DEE5E5;    
}

#portfolio-container {
    background: #fff;
}

#slider ul li {
    background: #fff;
}

#portfolio-indicator div {
    height: 8px;
    width: 8px;
    margin: 0 5px;
    border: 4px solid #C7E5F1;
    border-radius: 50%;
    transition: 400ms ease;
}

#portfolio-indicator div.active {
    height: 14px;
    width: 14px;
    border: 2px solid #62EDF0;
}

a.control_prev, a.control_next {
    background: #fff;
    border: 2px solid #F1F2F2;
    opacity: 1;
}

a.control_next {
    border-width: 2px 0 2px 2px;
}

a.control_prev {
    border-width: 2px 2px 2px 0;
}

a.control_prev:hover, a.control_next:hover {
    background: #F1F2F2;
}

a.control_prev img, a.control_next img {
    filter: invert(0.7);
}

.container-left .read-more-button {
    width: 124px;
    text-align: center;
    border-radius: 50px;
}

.color-box {
    margin: 20px 0;
    padding: 20px 20px 20px 15%;
}

.color-box.pink {
    background: linear-gradient(to bottom right, #FF83C8, #B194FF);
}

.color-box.grey {
    background: #EBEBEC;
}

.color-box.green {
    background: linear-gradient(to bottom right, #8AFCF6, #ACFCD9);
}

.color-box.blue {
    background: linear-gradient(to bottom right, #C7E5F1, #62EDF0);
}

.read-more-button.bottom {
    width: 124px;
    border: 2px solid #fff;
    border-radius: 40px;
}

.project-frame {
    display: none;
}

.twentytwenty-horizontal .twentytwenty-after-label:before {
    color: #353535;
    background: #A0DDFF;
}

.twentytwenty-horizontal .twentytwenty-before-label:before {
    color: #353535;
    background: #A0DDFF; 
}
