:root{
    --dark: #B7B8BA;
    --darker: #404040;
    --darkest: #353535;
    --light: #EBEBEC;
    --lighter: #F1F2F2;
    --lightest: #FFF9F9;
    --accent: #F3DE8A;
    --turquoise: #8AFCF6;
    --yellow: #FFE66D;
    --pink: #FF83C8;
    --violet: #CAAEFF;
    --electric-blue: #62EDF0;
    --maximum-blue: #39A9DB;
    --magic-mint: #ACFCD9;
}

body {
    background: #fff;
    color: #37323E;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
    line-height: 1.8em;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20vh 32px;
}

* {
    box-sizing: border-box;
}

p {
   margin-top: 0;
   margin-bottom: 1.8em;
}

a {
    color: #266DD3;
    box-shadow: inset 0 -4px 0 0 #CBDDF6;
    text-decoration: none;
    padding-bottom: 2px;
    transition: 200ms ease;
}

a:hover {
    color: #1C519B;
    box-shadow: inset 0 -1.8em 0 0 #CBDDF6;
    text-decoration: none;
}

h1 {
    
}

h2 {
    font-size: 1.8em;
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

h4 {
}

hr {
    border-top: 0;
    border-bottom: 1px solid #5D6772;
}

ul {
  padding-inline-start: 24px;
}

li {
  list-style-type: '→';
  padding-inline-start: 8px;
}

.screen-reader-only {
    width: 0px;
    height: 0px;
    overflow: hidden;
    margin: 0;
}

p.no-margin {
    margin-bottom: 0;
}

.reveal{
  position: relative;
  transform: translateY(120px);
  opacity: 0;
  transition: 800ms all ease;
  padding-bottom: 2.4em;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.reveal.less-padding{
  padding-bottom: 1em;
}

#red-button-container {
    min-height: 140px;
}



#red-button {
    margin: 8px 0;
    background: #CC2936;
    height: 40px;
    padding: 0 24px;
    font-size: 1.2em;
    line-height: 40px;
    color: #fff;
    border: red;
    border-radius: 8px;
    cursor: pointer;
    transition: 100ms ease;
}


#red-button:hover {
    background: #AA222D;
}

#red-button:active {
    background: #AA222D;
    transform: translateY(2px);
}

#red-button-result {
    padding-top: 8px;
    font-weight: 600;
    font-size: 1.2em;
    color: #CC2936;
    opacity: 0;
    transform: translateX(100px) scale(1.5);
    transition: 300ms ease;
}


.showtime #red-button-result{
    opacity: 1;
    color: #37323E;
    transform: translateX(0px) scale(1.0);
}

/* Small Devices, Phones */
@media only screen and (max-width : 600px) {
    main {
        overflow-x: hidden;
    }

}
