:root{
    --dark: #B7B8BA;
    --darker: #404040;
    --darkest: #353535;
    --light: #EBEBEC;
    --lighter: #F1F2F2;
    --lightest: #FFF9F9;
    --accent: #F3DE8A;
    --turquoise: #8AFCF6;
    --yellow: #FFE66D;
    --pink: #FF83C8;
    --violet: #CAAEFF;
    --electric-blue: #62EDF0;
    --maximum-blue: #39A9DB;
    --magic-mint: #ACFCD9;
}

body {
    background: #ffffff;
    color: #37323E;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
}

body.show3 {
    background: #151619;
    color: #ffffff;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 15vh 32px;
}

p {
    margin-top: 0;
    margin-bottom: 1.8em;
}

a {
    color: #266DD3;
    box-shadow: inset 0 -4px 0 0 #CBDDF6;
    text-decoration: none;
    padding-bottom: 2px;
    transition: 200ms ease;
    font-family: 'Bebas Neue';
    font-size: 1.4em;
    letter-spacing: 0.03em;
    vertical-align: middle;
}

a:hover {
    color: #1C519B;
    box-shadow: inset 0 -1.8em 0 0 #CBDDF6;
    text-decoration: none;
}

.show3 a {
    color: #22bbff;
    box-shadow: inset 0 -4px 0 0 #00347e;
}

.show3 a:hover {
    color: #7dd7ff;
    box-shadow: inset 0 -1.8em 0 0 #00347e;
    text-decoration: none;
}

strong {
    box-shadow:inset 0 0 30px #F3DE8A;
}

.show3 strong {
    box-shadow:inset 0 0 30px #754ac7;
}

h1 {
    
}

@keyframes letterspace {
    from {color:#fff; letter-spacing: 0.2em;}
    to {color:#37323E; letter-spacing: 0.03em;}
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.8em;
    margin-inline-start: -2px;
    animation: letterspace 800ms;
    text-shadow: 6px 6px #8AFCF6;
}

.show3 h2 {
    text-shadow: 6px 6px #f02c99;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8em;
    margin-bottom: 0.5em;
    text-shadow: 4px 4px #F3DE8A;
}

.show3 h3 {
    text-shadow: 4px 4px #754ac7;
}

h4 {
}

hr {
    border-top: 0;
    border-bottom: 1px solid #5D6772;
}

ul {
  padding-inline-start: 24px;
}

li {
  list-style-type: '→';
  padding-inline-start: 8px;
  margin-bottom: 0.5em;
  line-height: 1.5em;
}

::marker {
    font-family: monospace;
    font-size: 1.5em;
    color: #5BC0BE;
}

.show3 ::marker {
    text-shadow: none;
    color: #f02c99;
}

.screen-reader-only {
    width: 0px;
    height: 0px;
    overflow: hidden;
    margin: 0;
}

p.no-margin {
    margin-bottom: 0;
}

.reveal{
  position: relative;
  transform: translateY(120px);
  opacity: 0;
  transition: 800ms all ease;
  padding-bottom: 2.8em;
}

.reveal p {
  line-height: 4em;
  transition: 800ms all ease;
}

.reveal h2, .reveal h3 {
  letter-spacing: 0.2em;
  transition: 800ms all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.reveal.active p {
  line-height: 2em;
}

.reveal.active h2, .reveal.active h3 {
  letter-spacing: 0.03em;
}

.reveal.less-padding{
  padding-bottom: 1em;
}

#red-button-container {
    height: auto;
    min-height: 140px;
    margin: 64px 0;
    padding: 32px;
    border: 4px solid #37323E;
    box-shadow: 8px 8px 0 #37323E;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.show3 #red-button-container {
    min-height: 0;
    border: 4px solid #ffffff;
    box-shadow: 8px 8px 0 #ffffff;
}

#red-button {
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.8em;
    height: 60px;
    color: #CC2936;
    border: 2px solid #CC2936;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    transition: 100ms ease;
    box-sizing: border-box;
    border-radius: 30px;
    width: 100%;
    max-width: 360px;
    box-shadow: 3px 3px 0 #E56399;
    transition: 200ms ease;
}

#red-button:hover {
    box-shadow: 6px 6px 0 #E56399;
}

#red-button:active {
    transform: translateX(6px) translateY(6px);
    box-shadow: 0 0 0 #E56399;
}

@keyframes implode {
    0% {transform: scale(1.0);}
    50% {transform: scale(1.2);}
    99% {transform: scale(0); height: 60px;}
    100% {transform: scale(0); height: 0px;}
} 

.showtime #red-button {
    animation: implode 300ms ease-in;
    transform: scale(0);
}

.showtime #red-button-result {
    opacity: 0;
}

#red-button-result {
    text-align: center;
    font-weight: 700;
    font-size: 0.7em;
}

.counter {
    width: 100px;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50px);
}


#red-button-container.showtime .counter {
    height: 100px;
    transition-delay: 600ms;
    opacity: 1;
}


#red-button-container.showtime .numbers {
  width: auto;
  display: flex;
  animation: countNumber 3s;
  animation-timing-function: steps(3);
  animation-delay: 600ms;
}
.numbers div {
  text-align: center;
  flex: 0 0 100px;
  font-size: 4em;
  font-family: 'Bebas Neue', sans-serif;
}

@keyframes countNumber {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -300px;
  }
}

/* showtime */

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.show1 {
    animation: shake 500ms;
    animation-iteration-count: 5;
}

.show1 #no-show, .show1 #show2-text, .show1 #show3-text, .show1 #show4-text, .show1 #show5-text {
    display: none;
}

#show1-text {
    display: none;
}

.show1 #show1-text {
    display: block;
}

.show2 #no-show, .show2 #show1-text, .show2 #show3-text, .show2 #show4-text, .show2 #show5-text {
    display: none;
}

#show2-text {
    display: none;
}

.show2 #show2-text {
    display: block;
}

.show3 #no-show, .show3 #show1-text, .show3 #show2-text, .show3 #show4-text, .show3 #show5-text {
    display: none;
}

#show3-text {
    display: none;
}

.show3 #show3-text {
    display: block;
}

.show3 #red-button {
    display: none;
}

@keyframes go-dark {
    0% {background: #fff}
    7% {background: #fff}
    10% {background: #000}
    20% {background: #000}
    70% {background: #fff}
    100% {background: #fff}
}

@keyframes disappear {
    0% {transform: scale(1.0);}
    7% {transform: scale(1.3);}
    10% {transform: scale(0) translateX(0px);}
    49% {transform: scale(0) translateX(200%);}
    50% {transform: scale(1) translateX(200%);}
    80% {transform: translateX(80%);}
    90% {transform: translateX(-60%);}
    95% {transform: translateX(40%);}
    100% {transform: translateX(0);}
}

.show4 {
    overflow-x: hidden;
    animation: go-dark 8s ease;
}

.show4 main{
    animation: disappear 8s ease;
}

.show4 #no-show, .show4 #show1-text, .show4 #show2-text, .show4 #show3-text, .show4 #show5-text {
    display: none;
}

#show4-text {
    display: none;
}

.show4 #show4-text {
    display: block;
}

@keyframes breaking-button {
 0% { transform: translateX(50px) rotate(0deg); width: 200px; border-left: 0; border-bottom-left-radius: 0; border-top-left-radius: 0}
 25% { transform: translateX(50px) rotate(-5deg);}
 50% { transform: translateX(50px) rotate(5deg);}
 75% { transform: translateX(50px) rotate(-5deg);}
 100% { transform: translateX(50px) rotate(5deg);}
}

@keyframes breaking-text {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(5deg);}
    50% { transform: rotate(-15deg);}
    75% { transform: rotate(5deg);}
    100% { transform: rotate(-19deg);}
}


.show5 #red-button {
    pointer-events: none;
    animation: breaking-button 400ms ease;
    transform: rotate(5deg) translateX(50px);
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    position: relative;
    width: 200px;
    padding-left: 2px;
    text-align: left;
    box-shadow: 4px 4px 0 #E56399;
}

.show5 #red-button::before {
    content: "Re";
    position: absolute;
    background: #fff;
    font-size: 1.2em;
    z-index: 10;
    left: -125px;
    top: 13px;
    transform: rotate(-19deg);
    height: 52px;
    width: 120px;
    border: 2px solid #CC2936;
    border-right: 0;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    box-shadow: -1px 4px 0 #E56399;
    text-align: right;
    line-height: 1.8em;
    padding-top: 8px;
    padding-right: 4px;
    animation: breaking-text 400ms ease;
}

.show5 #no-show, .show5 #show1-text, .show5 #show2-text, .show5 #show3-text, .show5 #show4-text {
    display: none;
}

#show5-text {
    display: none;
}

.show5 #show5-text {
    display: block;
}

.show5-hide {
    display: inline-block;
}

.show5 .show5-hide {
    display: none;
}

/* Small Devices, Phones */
@media only screen and (max-width : 600px) {
    main {
        overflow-x: hidden;
        padding:0 32px 20vh 32px;
    }

}
