:root{
    --dark: #B7B8BA;
    --darker: #404040;
    --darkest: #353535;
    --light: #EBEBEC;
    --lighter: #F1F2F2;
    --lightest: #FFF9F9;
    --accent: #F3DE8A;
    --turquoise: #8AFCF6;
    --yellow: #FFE66D;
    --pink: #FF83C8;
    --violet: #CAAEFF;
    --electric-blue: #62EDF0;
    --maximum-blue: #39A9DB;
    --magic-mint: #ACFCD9;
}

body {
    background: #fff;
    color: #37323E;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-size: 1.1em;
    line-height: 1.8em;
    text-rendering: geometricPrecision;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20vh 32px;
}

/* {
    box-sizing: border-box;
}*/

p {
   margin-top: 0;
   margin-bottom: 1.8em;
}

a {
    color: #266DD3;
    box-shadow: inset 0 -4px 0 0 #CBDDF6;
    text-decoration: none;
    padding-bottom: 2px;
    transition: 200ms ease;
}

a:hover {
    color: #1C519B;
    box-shadow: inset 0 -1.8em 0 0 #CBDDF6;
    text-decoration: none;
}

h1 {
    
}

@keyframes letterspace {
    from {color:#fff; letter-spacing: 0.2em;}
    to {color:#37323E; letter-spacing: 0.02em;}
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.8em;
    margin-inline-start: -2px;
    animation: letterspace 800ms;
    text-shadow: 8px 8px #F3DE8A;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.6em;
    margin-bottom: 0.5em;
    text-shadow: 8px 8px #F3DE8A;
}

h4 {
}

hr {
    border-top: 0;
    border-bottom: 1px solid #5D6772;
}

ul {
  padding-inline-start: 24px;
}

li {
  list-style-type: '→';
  padding-inline-start: 8px;
}

::marker {
    font-family: monospace;
    font-size: 1.5em;
}

.screen-reader-only {
    width: 0px;
    height: 0px;
    overflow: hidden;
    margin: 0;
}

p.no-margin {
    margin-bottom: 0;
}

.reveal{
  position: relative;
  transform: translateY(120px);
  opacity: 0;
  transition: 800ms all ease;
  padding-bottom: 2.8em;
}

.reveal p {
  line-height: 4em;
  transition: 800ms all ease;
}

.reveal h2, .reveal h3 {
  letter-spacing: 0.2em;
  transition: 800ms all ease;
  text-shadow: 0px 0px #F3DE8A;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.reveal.active p {
  line-height: 1.8em;
}

.reveal.active h2, .reveal.active h3 {
  letter-spacing: 0.02em;
  text-shadow: 8px 8px #F3DE8A;
}

.reveal.less-padding{
  padding-bottom: 1em;
}

#red-button-container {
    min-height: 260px;
    display: flex;
    flex-flow: column;
    align-items: center;
}



#red-button {
    margin: 1em 0;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.8em;
    color: #CC2936;
    padding: 8px 32px 8px;
    border: 2px solid #CC2936;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    transition: 100ms ease;
    box-sizing: border-box;
    border-radius: 30px;
    width: 100%;
    max-width: 360px;
    box-shadow: 5px 5px 0 #CC2936;
    transition: 200ms ease;
}

#red-button:hover {
    box-shadow: 0px 0px 0 #CC2936;
}

#red-button:active {
    transform: translateY(8px);
}

#red-button-result {
    padding: 0.8em;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 1.2em;
    background: #CC2936;
    border-radius: 100px;
    color: #CC2936;
    transform: translateY(-110px) scale(0) rotate3d(0, 0, 0, 45deg);
    transition: 800ms ease;
    text-align: center;
    z-index: -2;
    margin-bottom: 0;
}


#red-button-result.showtime {
    color: #fff;
    transform: translateY(0px) scale(1.0) rotate3d(1, 0, 0, 360deg);
}

/* Small Devices, Phones */
@media only screen and (max-width : 600px) {
    main {
        overflow-x: hidden;
    }

}
