:root {
  --neutral-1: #1A1A1A;
  --neutral-2: #666666;
  --neutral-3: #B3B3B3;
  --neutral-4: #D9D9D9;
  --green-3: #ABC9BA;
  --green-4: #E1EBE4;
  --sand-3: #DDDBCF;
  --sand-4: #F2F1ED;
  --sand-5: #F6F6F3;
  --ocre-4: #F7F3D9;
  --ocre-5: #FFFEF5;
}


body {
		font-family: "BufdirFont", sans-serif;
		text-rendering: geometricPrecision;
    	letter-spacing: .02em;
    	color: var(--neutral-1);
    	word-wrap: break-word;
	}

	header {
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		padding: 20px 16px;
	}

	main {
		max-width: 1280px;
		margin: 0px auto;
		padding: 16px;
	}

	h1 {
		text-align: center;
		font-size: 48px;
	}

	p {
		line-height: 1.6em;
	}

	ul li {
		line-height: 1.6em;
		margin-bottom: 8px;
	}

	.content-container {
		max-width: 768px;
		margin: 16px auto;
	}

	* {
		box-sizing: border-box;
	}

	.image-container {
		width: 100%;
		max-width: 1280px;
		height: 50%;
		max-height: 480px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.image-container img {
		width: 100%;
		height: auto;
	}


	@font-face {
	    font-family: 'BufdirFont'; /* Choose a name */
	    src: url('ARSMaquettePro-Regular.otf') format('opentype'); /* OTF format */
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'BufdirFont'; /* Choose a name */
	    src: url('ARSMaquettePro-Bold.otf') format('opentype'); /* OTF format */
	    font-weight: bold;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'BufdirFont'; /* Choose a name */
	    src: url('ARSMaquettePro-RegularItalic.otf') format('opentype'); /* OTF format */
	    font-weight: normal;
	    font-style: italic;
	}

	/* Styling for brødsmuler*/


	#structure-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		max-width: 1280px;
		margin: 0 auto;
		font-size: 14px;
		transition: 200ms ease;
		padding: 0px 16px;
	}

	#button-expand {
		background: transparent;
		border: none;
		outline: none;
		height: 32px;
		width: 40px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px;
		cursor: pointer;
		transition: 100ms ease-in-out;
		margin-left: 8px;
		border-radius: 6px;
	}

	#button-expand:hover {
		padding-right: 6px;
		padding-left: 6px;
		background: #F2F1ED;
	}

	:focus {
		box-shadow: 0 0 0 2px #e1ebe4,0 0 0 4px #0b6e4f;
		outline: none;
		border-radius: 2px;
	}

	#button-expand span {
		background: #1A1A1A;
		width: 4px;
		height: 4px;
		border-radius: 50%;
	}

	.bread-expanded #button-expand {
		display: none;
	}

	#structure-bread {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding-left: 0;
		margin: 0;
		align-items: center;
		height: auto;
	}

	#structure-bread li {
		display: flex;
		position: relative;
		flex-shrink: 0;
		line-height: 32px;
        width: 0; /* Start at 0 width */
        height: 0;
        overflow: hidden;
        transition: width 300ms ease-in-out;
    }

	#structure-bread .current-theme {
		width: auto;
		height: 32px;
		overflow: visible;
	}

	#structure-bread li span.structure-separator {
		background: #00838F;
		width: 2px;
		height: 18px;
		border-radius: 2px;
		margin-left: 12px;
		opacity: 0.5;
		display: inline-block;
		align-self: center;
	}

	.bread-expanded #structure-bread li span.structure-separator {
		display: none;
	}

	#structure-bread .current-theme a {
		color: #00838F;
		font-weight: 600;
		opacity: 1;
	}

	#structure-bread li span {
		margin:0;
		color: #666666;
		opacity: 0;
	}

	.bread-expanded #structure-bread li {
        white-space: nowrap;
        height: 32px;
        overflow: visible;
	}

	#structure-bread a {
		color: #1A1A1A;;
		text-decoration-thickness: 1px;
		text-underline-offset: 1px;
		width: auto;
		transition: 100ms ease;
		opacity: 0;
	}

	@keyframes fadeIn {
	    from {
	        opacity: 0;
	    }
	    to {
	        opacity: 1;
	    }
	}

	.bread-expanded #structure-bread a {
		animation: fadeIn 500ms ease-in-out;
		opacity: 1;
	}

	.bread-expanded #structure-bread li span {
		animation: fadeIn 500ms ease-in-out;
		opacity: 1;
	}

	.ellipsis {
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.bread-expanded #structure-bread .current-theme a {
		animation: none;
		opacity: 1;
	}

	#structure-bread a:hover {
		text-decoration-thickness: 2px;
		text-underline-offset: 4px;
	}

	.bread-expanded #structure-bread li:not(:last-child)::after {
		content: ">";
		padding-right: 12px;
		padding-left: 12px;
		color: #666666;
		animation: fadeIn 500ms ease-in-out;
		opacity: 1;
	}


	/* Alert and toast */

	.alert-base {
		width: 100%;
		margin-top: 32px;
		border-radius: 8px;
		overflow: hidden;
	}

	.alert-base.toast {
		position: fixed;
		top: -400px;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% - 32px);
		max-width: 480px;
		margin-top: 0px;
		transition: 300ms ease-in-out;
		box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
	}

	.alert-base.toast.visible {
		top: 64px;
	}

	.alert-base.toast.hidden {
		display: none;
	}

	.alert-base-header {
		display: flex;
		flex-direction: row;
		font-weight: bold;
		padding: 16px 16px 12px 16px;
	}

	.alert-base-header span {
		flex-grow: 1;
		line-height: 24px;
		font-size: 1em;
	}

	.alert-base-header h2, .alert-base-header h3, .alert-base-header h4, .alert-base-header h5, .alert-base-header h6 {
		font-size: 1em;
		margin: 0;
	}

	.no-icon .alert-base-header, .no-icon .alert-base-content {
		padding-left: 24px;
	}

	.alert-base-icon {
		width: 24px;
		height: 24px;
		margin-right: 8px;
		color: #1A1A1A;
		flex-shrink: 0;
	}

	.alert-base-content {
		padding: 8px 16px 8px 48px;
	}

	.alert-base-content p {
		margin-top: 0px;
		margin-bottom: 8px;
	}

	.alert-info {
		background-color: #EAF2FC;
	}

	.alert-info .alert-base-header {
		background-color: #CADEF5;
	}

	.alert-success {
		background-color: #E4F6EB;
	}

	.alert-success .alert-base-header {
		background-color: #BFE8CF;
	}

	.alert-warning {
		background-color: #FDF0CE;
	}

	.alert-warning .alert-base-header {
		background-color: #F5DB95;
	}

	.alert-error {
		background-color: #FADED1;
	}

	.alert-error .alert-base-header {
		background-color: #F6C2AC;
	}

	.alert-close-button {
		background: transparent;
		border: none;
		outline: none;
		padding: 0;
		width: 24px;
		height: 24px;
		flex-shrink: 0;
	}

	.button-icon {
		color: #1A1A1A;
	}

	.cake-loader {
	  width: 24px;
	  height: 24px;
	  flex-shrink: 0;
	  margin-left: 4px ;
	  position: relative;
	}

	.cake-loader .loader-icon {
		position: absolute;
		top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    pointer-events: none;
	}

	/* Faktaboks */

	.fact-block {
		background: #F6F6F3;
		width: 100%;
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.fact-block .alert-base-header {
		background-color: #E1EBE4;
	}

	#button-expand-fact {
		min-height: 36px;
		font-size: 18px;
		padding: 4px 16px;
		background: #F6F6F3;
		border-radius: 24px;
		border: 2px solid #1A1A1A;
		outline: none;
		align-self: center;
		margin-bottom: 16px;
		position: absolute;
		bottom: 0;
	}

	#fakta-innhold {
		transition: 300ms ease-in-out;
		padding-bottom: 56px;
	}

	.gradient-mask-bottom {
	  height: 170px;
	  overflow: hidden;

	  /* Bottom-to-top gradient mask */
	  -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent 65%);
	  mask-image: linear-gradient(to bottom, black 20%, transparent 65%);
	}

	.ankerlenker {
		margin: 0;
		padding: 0;
	}

	.ankerlenker li {
		list-style: none;
	}

	.ankerlenker li a {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		color: #1A1A1A;
		border-bottom: 2px solid transparent;
	}

	.ankerlenker li a:before {
		display: inline-block;
	    content: "";
	    mask: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none" viewBox="0 0 24 24" focusable="false" role="img"><path fill="currentColor" d="M6.5 11.25c-.69 0-1.25-.56-1.25-1.25V4a.75.75 0 0 0-1.5 0v6a2.75 2.75 0 0 0 2.75 2.75h10.69l-3.22 3.22a.75.75 0 1 0 1.06 1.06l4.5-4.5a.75.75 0 0 0 0-1.06l-4.5-4.5a.75.75 0 0 0-1.06 1.06l3.22 3.22z"></path></svg>') no-repeat 50% 50%;
	    -webkit-mask-size: cover;
	    mask-size: cover;
	    background-color: currentColor;
	    width: 16px;
	    height: 16px;
	    margin-right: 8px;
	    transition: 200ms ease-in-out;
	}

	.ankerlenker li a:hover {
		border-bottom: 2px solid #ABC9BA;
	}

	.ankerlenker li a:hover:before {
		transform: translateX(4px);
	}


/* Tabell */

	.table-scroll {
	  overflow-x: auto;
	  -webkit-overflow-scrolling: touch;
	  max-width: 100%;
	}

	/* Table styling */
	.responsive-table {
	  border-collapse: collapse;
	  margin-bottom: 4px;
	  line-height: 1.3em;
	  border-bottom: 2px solid var(--sand-4);
	}

	.responsive-table th, .responsive-table td {
	  padding: 16px;
	  text-align: left;
	  vertical-align: baseline;
	  word-break: break-word;
	  white-space: nowrap; /* nowrap er satt kun for testing */
	}

	.responsive-table td {
		font-size: 0.875em;
	}

	/* Overflow indicators via pseudo-elements */

	.table-wrapper {
		position: relative;
		margin: 62px 0;
	}

	.table-wrapper::before,
	.table-wrapper::after {
	  content: "";
	  position: absolute;
	  top: -8px;
	  bottom: -8px;
	  opacity: 0;
	  transition: opacity 0.3s ease;
	  pointer-events: none;
	  z-index: 2;
	}

	.table-wrapper::before {
	  left: 0px;
  	  width:0px;
  	  border-left: 2px dashed var(--neutral-2);
	}

	.table-wrapper::after {
	  right: 0px;
  	  width: 0px;
  	  border-right: 2px dashed var(--neutral-2);
	}

	.table-wrapper.show-left::before {
	  opacity: 1;
	}

	.table-wrapper.show-right::after {
	  opacity: 1;
	}

	.show-left .table-scroll {
		-webkit-mask-image: linear-gradient(to left, black 95%, transparent 100%);
  		mask-image: linear-gradient(to left, black 95%, transparent 100%);
	}

	.show-right .table-scroll {
		-webkit-mask-image: linear-gradient(to right, black 95%, transparent 100%);
  		mask-image: linear-gradient(to right, black 95%, transparent 100%);
	}

	/* Når det er scroll både til høyre og venstre */
	.show-right.show-left .table-scroll {
		-webkit-mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
  		mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
	}

	.responsive-table caption {
		text-align: left;
		font-size: 1.25em;
		font-weight: 600;
		width: 100%;
	    max-width: calc(100vw - 80px);
	    margin-bottom: 16px;
	    position: sticky;
	    left: 0;
	    padding-left: 16px;
	    transition: 300ms ease-in-out;
	}

	.show-left .responsive-table caption {
		padding-left: 32px;
	}

	.responsive-table th {
		font-weight: 600;
	}

	.responsive-table thead tr {
		border:0;
	}

	.responsive-table thead tr th {
		padding-top: 4px;
	}

	.responsive-table tbody {
		border-top: 2px solid var(--neutral-4);
		border-bottom: 2px solid var(--neutral-4);
	}

	.responsive-table tbody th {
		border-right: 2px solid var(--neutral-4);
		background-color: white;
		transition: 300ms ease-in-out;
	}

	.responsive-table tbody tr {
		background-color: white;
	}

	.responsive-table tbody tr:nth-child(odd), .responsive-table tbody tr:nth-child(odd) th {
	  background-color: var(--sand-4);
	}

	.responsive-table th[colspan="2"], .responsive-table th[colspan="3"], .responsive-table th[colspan="4"] {
	  position: relative;
	  font-style: italic;
	  font-size: 1.25em;
	  font-weight: 400;
	}

	.responsive-table th[colspan="2"]::before, .responsive-table th[colspan="3"]::before, .responsive-table th[colspan="4"]::before {
	  content: "";
	  width: 2px;
	  position: absolute;
	  right: -1px;
	  top: 0px;
	  bottom: -32px;
	  background-color: var(--neutral-4);
	  display: inline-block;
	}

	.responsive-table tbody tr th[rowspan="2"], .responsive-table tbody tr th[rowspan="3"], .responsive-table tbody tr th[rowspan="4"] {
	  background-color: white;
	  font-style: italic;
	  border-right: 8px solid white;
	  border-bottom: 2px solid var(--neutral-4);
	  font-size: 1.25em;
	  font-weight: 400;
	}

@media screen and (min-width: 768px) {

	.responsive-table caption {
	    max-width: 704px;
	}
  
	.show-left .responsive-table tbody th {
		position: sticky;
		left: 0px;
		z-index: 3;
		box-shadow: inset -2px 0px 0px 0px var(--neutral-4);
		padding-left: 32px;
	}

	.show-left .responsive-table tbody tr th[rowspan="2"], .show-left .responsive-table tbody tr th[rowspan="3"], .show-left .responsive-table tbody tr th[rowspan="4"] {
	  position: static;
	  box-shadow: none;
	  padding-left: 16px;
	}
}



