:root {
  --purple-dark: #711c91;
  --purple-bright: #ea00d9;
  --teal: #0abdc6;
  --teal-light: #86F9FF;
  --blue-dark: #133e7c;
  --blue-darker: #13274b;
  --blue-darkest: #091833;
  --above-blue: #0014c6;
}

	body {
		font-family: "Inter", sans-serif;
  	color: #fff;
  	word-wrap: break-word;
  	margin: 0;
  	padding: 0;
  	background: #0b1939;
	}

	header {
	}

	main {

	}

	section {
		width: 100%;
	}

	#hero {
	}

	#logo {
		position: relative;
		height: 380px;
		margin-top: 80px;
		color: var(--teal-light);
		font-family: "Exo 2", sans-serif;
	}

	#logo-ctrl, #logo-c, #logo-v {
		position: absolute;
		font-size: 40px;
		border: 2px solid var(--purple-bright);
		height: 96px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#logo-ctrl {
		right: calc(50% + 86px);
    top: 126px;
    width: 150px;
	}

	#logo-c {
		left: calc(50% + 20px);
    top: 23px;
		width: 96px;
	}

	#logo-v {
		left: calc(50% + 132px);
		top: 23px;
		width: 96px;
	}

	#logo-ctrl:hover, #logo-c:hover, #logo-v:hover {
		animation: glow 1s ease-in-out infinite alternate-reverse;
	}

	#heading-left, #heading-right {
		position: absolute;
		font-size: 80px;
	}

	#heading-left {
		right: calc(50% + 40px);	
	}

	#heading-right {
		left: calc(50% - 10px);
    top: 138px;
	}

	.scroll-animated-text {
		  transition: letter-spacing 0.1s linear, filter 0.1s linear;
		}

	#section-program {
		background: linear-gradient(128deg,rgba(9, 24, 51, 0.4) 18%, rgba(10, 189, 198, 0.4) 20%, rgba(9, 24, 51, 0.4) 29%, rgba(9, 24, 51, 0.4) 75%, rgba(234, 0, 217, 0.4) 84%, rgba(9, 24, 51, 0.4) 85%);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		box-shadow: 0 0px 60px rgba(0, 0, 0, 0.8);
	}

	.container {
		max-width: 1120px;
		margin: 0px auto;
		padding: 32px;
	}

	footer {
		margin: 64px 32px;
		text-align: center;
	}

	h1, h2, h3, h4 {
		margin-top:	0;
		color: var(--teal-light);
		font-family: "Exo 2", sans-serif;
	}


	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 24px;
	}

	p {
		font-size: 1em;
		line-height: 1.6em;
		color: #fff;
		font-family: "Inter", sans-serif;
	}

	* {
		box-sizing: border-box;
	}

	.background-image-container {
		width: 100%;
		height: 100vh;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		z-index: -2;
		opacity: 0.2;
	}

	.background-image-container img {
		min-width: 100%;
		min-height: 100vh;	
	}

	.ingress {
		font-size: 1.2em;
	}

	.button-container {
		display: flex;
		flex-direction: row;
		margin-bottom: 32px;
	}

	.button-style {
		color: #fff;
		font-size: 24px;
		padding: 16px 32px;
		text-decoration: none;
		transition: 200ms;
		background: var(--teal);
		font-family: "Exo 2", sans-serif;
		cursor: pointer;
		text-align: center;
		font-style: italic;
	}

	.button-style:hover {
		animation: glow 1s ease-in-out infinite alternate-reverse;
		border-color: var(--purple-bright);
		text-shadow: 0 0 25px var(--teal-light);
	}

	.program-list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.program-list li {
		width: calc(33% - 16px);
	}

	.program-list img {
		width: 100%;
		height: auto;
	}

	.program-content {
		height: 100%;
		background: var(--blue-darker);
	}

	.program-info {
		padding: 16px;
	}


	@keyframes glow {
		0% {box-shadow: 0 0 15px 5px var(--purple-bright);}
		100% {box-shadow: 0 0 0px 0px var(--purple-bright);}
	}

	#video-background-left, #video-background-right {
		position: fixed;
		z-index: -2;
		transform: translateY(-50%);
		top: 50%;
		max-width: 50%;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#video-background-left {
		left: 0;
	}

	#video-background-right {
		right: 0;
	}

	#video-background-left video, #video-background-right video{
		
	}	

	#aboveit-logo path {
		fill: var(--purple-dark);
	}

	@media only screen and (max-width: 1024px) {

		.program-list li {
			width: calc(50% - 16px);
		}
	}


	@media only screen and (max-width: 768px) {

		#logo {
			position: relative;
			height: 220px;
			margin-top: 60px;
		}

		#logo-ctrl, #logo-c, #logo-v {
			position: absolute;
			font-size: 28px;
			border: 2px solid var(--purple-bright);
			height: 64px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		#logo-ctrl {
			right: calc(50% + 42px);
	    top: 86px;
	    width: 102px;
		}

		#logo-c {
			left: calc(50% + 0px);
	    top: 13px;
			width: 64px;
		}

		#logo-v {
			left: calc(50% + 76px);
			top: 13px;
			width: 64px;
		}

		#heading-left, #heading-right {
			position: absolute;
			font-size: 50px;
		}

		#heading-left {
			right: calc(50% + 22px);	
		}

		#heading-right {
			left: calc(50% - 10px);
	    top: 98px;
		}

		.program-list {
			display: flex;
			flex-direction: column;
		}

		.program-list li {
			width: 100%;
			margin: 0 0 20px 0;
		}
	  

	}

	


