

/* START styling som ikke er knytte til illustrasjon, bare gjenskape rammene i FSA */

:root {
  --green_1: #2F6341;
	--aqua_2: #009AA7;  
}

html { font-size: 16px; }

body {
	font-family: "ARS maquette pro", "Verdana", sans-serif; /* Du får ARS maquette pro hvis den er installert på Mac/PC */
}

#container {
	margin: 0 auto;
	max-width: 760px;
	padding: 32px;
}

.bl-size-4 {
	font-size: 1.125rem;
}

.bl-size-5 {
	font-size: 1rem;
}

/* simulere større font på desktop */

@media screen and (min-width: calc(1200px + 1rem * 2)) {

	.bl-size-4 {
		font-size: 1.25rem;
	}

	.bl-size-5 {
		font-size: 1rem;
	}
}


/* SLUTT styling som ikke er knytte til illustrasjon, bare gjenskape rammene i FSA */


/* START styling for illustrasjon */


* {
	box-sizing: border-box;
}

h5 {
	margin: 0;
	padding-bottom: 16px;
} 

#wrapper-illustrasjon {
	display: flex;
	flex-direction: column;
}

#wrapper-illustrasjon ul {
	padding-inline-start: 24px;
	word-break: break-word;
	margin: 0 auto;
}

.wrapper-hus {
	border: 1px solid var(--green_1);
	padding: 8px 24px 24px;
	width: 100%;
	margin-bottom: 24px;
}

#wrapper-hus-a, #wrapper-hus-b, #boks-a, #boks-b {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#wrapper-samle-hus-boks-b {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.underline-header {
	padding-bottom: 8px;
	border-bottom: 1px solid #2F6341;
}

.center-text {
	text-align: center;
}

#hus-a-1, #hus-a-2, #hus-b-1, #hus-b-2 {
	width: 100%;
	max-width: 230px;
  padding: 64px 16px 24px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

#hus-a-1 {
  background-image: url("Hus_X.svg");
  border-color: var(--green_1);
  margin-bottom: 16px;
}

#hus-a-2 {
	background-image: url("Hus_X.svg");
  border-color: var(--green_1);
}


#hus-b-1 {
	background-image: url("Hus_X.svg");
  border-color: var(--green_1);
  margin-bottom: 16px;
}

#hus-b-2 {
	background-image: url("Hus_Y.svg");
  border-color: var(--aqua_2);
  padding-bottom: 40px;	
}

#boks-a, #boks-b{
	z-index: 2;
	background: #fff;
	height: auto;
	padding: 24px 16px;
	border-radius: 6px;
}

#boks-a {
	max-width: 260px;
	border: 2px solid var(--green_1);
	margin-bottom: 16px;
}

#boks-b {
	max-width: 210px;
	border: 2px solid var(--aqua_2);
	transform: translateY(-24px);
	margin: 0 8px;
}


/* Større enn mobil */

@media screen and (min-width: calc(576px + 1rem * 2)) {

	#wrapper-hus-a {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto;
	}

	#wrapper-hus-b {
		display: grid;
		grid-template-columns: 50% 50%;
	}

	#wrapper-samle-hus-boks-b {
		justify-self: start;
	  margin-left: 8px;
	}

	#hus-a-1 {
	  justify-self: end;
	  margin-right: 8px;
	  margin-bottom: 0;
	}

	#hus-b-1 {
		justify-self: end;
		margin-top: 48px;
	  margin-right: 8px;
	  margin-bottom: 0;
		align-self: start;
	}

	#hus-a-2 {
	  justify-self: start;
	  margin-left: 8px;
	}

	#boks-a {
		grid-column: 1 / span 2;
	  grid-row: 2 / 2;
	  justify-self: center;
	  margin-top: 16px;
	  margin-bottom: 0;
	}

}

/* SLUTT styling for illustrasjon */





